
:root{
    --background:#EFEEEA;
    --secondary-color:rgb(30, 60, 84);
    --color:#171717;

    --font-family: 'Graphie',sans-serif;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --box-shadow-modal: 0 3rem 5rem rgba(0, 0, 0, 0.3);


}

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    position: relative;
    top: -300px;
    grid-auto-rows: 70px auto;
    font-family: var(--font-family);
    background: var(--background);opacity:0;
}
header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

}
.hidden{
    display: none;
}
.left-header-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.txt{
    font-size: 13px;
    margin-left: 1px;
    border-left: 1px solid #171717;
    padding: 5px 20px;
}
.rta-icon{
    width: 15%;
    height: 50%;
    background: url("img/image 25.png");
    background-size: 90%;
    object-fit: cover;
    background-repeat: no-repeat;

}
.header-txt{
    background: white;
    border-radius: 20px;
    color: var(--secondary-color);
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:45px;
    padding-right:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-txt-arrow{
    position: absolute;
    z-index: 999;
    right: 315px;
    width: 30px;
    height: 30px;
    background: var(--secondary-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.right-header-content{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 30px;
}
span{
    text-transform: uppercase;
    color: var(--secondary-color);
    font-weight: bolder;
    margin:0 3px;
    margin-top: 1px;
    border-bottom: 1px solid var(--secondary-color);
}
main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-rows: 1fr 205px;
}
.upper-content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    padding: 10px 30px;
    grid-gap:10px ;
}




.wrapper{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
 }
.left-content{
    width: 100%;
    height: 100%;
    background: url("img/rtarezekne.jpg");
    background-size: 100% 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transform: scale(1);
    transition: all .2s ease-in-out;
    display: flex;

}
.left-content:hover{
    transform: scale(1.5);
    transition: all .2s ease-in-out;
      flex-grow: 4;

}

.left-content::after{
    position: absolute;
    content: " ";
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(30, 60, 84,.6);
    border-radius: 20px;

}
.wrapper::before {
    position: absolute;
    content: "MQTT X is designed for an easier way to develop and test IoT applications. Connect MQTT X to a powerful MQTT broker or cloud with one click";
    right: 5px;
    bottom: 40px;
    margin-right: 20px;
    color: white;
    width: 35%;
    font-size: 11px;
    z-index: 999;



}
.wrapper h1{
    z-index: 999;
    position: absolute;
    color: white;
    width: 70%;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 35px;


}
.circle{
    width: 8%;
    height: 13%;
    border-radius: 50%;
    background: white;
    position: absolute;
    z-index: 999;
    bottom: 40px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}













.mid-bottom-section{
    position: relative;
    width: 100%;
    height: 60%;
    bottom: 0;
    background: var(--background);
    border-radius: 20px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    padding: 10px 15px;
    z-index: 9999;

}
.title-about-app{
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.title-about-app p{
    font-size: 20px;
    width: 90%;
    font-weight: bold;
    color: #171717;
}
.mqttx-logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    align-items: center;

}
.icon-arrow {
    transform: rotate(-36deg);
}
.mqttx-logo i{
    font-size: 50px;
    color: var(--secondary-color);
}
.briefly-about-app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 25px;
}
.briefly-about-app p {
    font-size: 10px;
    line-height: 17px;
    width: 80%;
    color: grey;
}
.right-content{

    box-shadow: var(--box-shadow);
    border-radius: 20px;

}
.mid-content{
    flex-grow: 1;
    cursor: pointer;
    box-shadow: var(--box-shadow);
     border: 2px solid white;
     border-radius: 20px;
    display: grid;
    grid-template-rows:50px 1fr 50px ;
    transition: all .3s ease-in-out;
    width: 1px;
    position: relative;
    top: 0;

}
.mid-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .3s ease-in-out;
    flex-direction: column;
    cursor: pointer;

}
.arrow-2{
        background: rgba(255, 255, 255, 0.438);

      color:  var(--secondary-color);
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 10px;
    position: relative;
    top: 17px;
        transform: rotate(-90deg);

}
.mid-middle h1{
    font-size: 17px;
     font-weight: 100;
  color: var(--secondary-color);
    line-height: 22px;
}
.mid-content:hover{
   position: relative;
    transition: all .3s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mid-upper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 20px;
    background-position: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}
.dot-first{
    width: 10px;
    height: 10px;
    background: var(--secondary-color);
    margin-left: 5px;
    border-radius: 50%;
}
.dot-second{
    width: 15px;
    height: 15px;
    background: var(--secondary-color);
    margin-left: 5px;
    border-radius: 50%;
}
.mid-bottom i{
    background: var(--secondary-color);
    padding: 10px;
    font-size: 10px;
    border-radius: 20px;
    color: white;

}
.mid-bottom{
    padding-left:20px;
}
.arrow{
    padding: 10px 15px;
    background: var(--secondary-color);
    font-size: 13px;
    color: white;
    border-radius: 20px;
    margin-left: 5px;

}




.flex{
    display: flex;
    width: 100%;
    height: 100%;

}

.right-content{
    height: 100%;
    width: 1px;
    flex-grow: 1;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease-in-out;

}
.right-content:hover{
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: all .3s ease-in-out;
}


.right-content:after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(30, 60, 84,10);
}
.github-icon{
    font-size: 30px;
    color: white;
    z-index: 999;
    position: absolute;
    top: 20px;
    right: 15px;
}
.github-text{
    font-size: 40px;
    width: 60%;
    height: 100%;
    z-index: 999;
    color: white;
    transform: rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: center;

}

.bottom-content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 10px;
    padding: 3px 30px;
    padding-bottom: 10px;

}
.bottom-content > div{
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}
.bottom-content .text{
        color: var(--secondary-color);

}

.left-bottom-content{
  width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows:70px auto ;
    border: 2.5px solid white;
}
.top-content {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.top-content h1{

    font-size: 12px;
    font-weight: lighter;
    border-radius: 20px;
    border: 1px solid white;
    padding: 7px 10px;
    color: white;
    background: var(--secondary-color);
}
.bottom-content-of-box{
    padding: 25px 20px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 100px;

    grid-gap: 20px;
}

.box-content-left{
    width: 100%;
    height: 100%;
display: flex;
justify-content: center;
align-items: center;
width: 90%;
}
.box-content-left h1{
    color: black;
    font-weight: lighter;
    font-size: 11px;
    color: var(--secondary-color);

}
.bottom-content-of-box p{
    font-size: 40px;
}
.box-content-right {
    padding: 0;
    margin: 0;
}
.box-content-right p {
    font-size: 40px;
    padding: 0;
    margin: 0;
    color: var(--secondary-color);
}

.right-bottom-content{
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;

}

.mid-bottom-content{
 width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows:70px auto ;
    border: 2.5px solid white;

}
.mid-bottom-content-top{
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.mid-bottom-content h1{
    background: var(--secondary-color);
    color: var(--background);
    padding: 7px 20px;
    font-weight: lighter;
    font-size: 12px;
    border-radius: 20px;

}
.mid-bottom-content-bottom{
    width: 100%;
    height: 100%;
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mid-bottom-content p{
    font-size: 25px;
    position: relative;
    color: var(--secondary-color);
    top: 7px;
}
/*position: relative;*/
/*    background-repeat: no-repeat;*/
/*    background-size:100% 100%;*/
/*    object-fit: cover;*/


.expand{
    transition: all .3s ease-in-out;
    border: 2px solid white;
    border-radius: 20px;
    flex-grow: 2.5;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    padding: 5px;
}

.expand-wrapper{
    padding: 10px 10px;
    height: 100%;
     border-radius: 20px;
    display: grid;
    grid-template-rows: 30px 1fr;
    font-size: 14px;
    grid-gap: 20px;
   color: var(--secondary-color);
    animation: mymove 1s ease-in-out;
}
@keyframes mymove {
    0%{
        opacity: 0;

    }

    70%{
        opacity: 0.9;
    }

    100%{
        animation-delay: 2s;
        width: 100%;
        opacity: 1;
    }
}
.left-column{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #dadada;
}
.right-column{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-expand-section h1{
    padding: 5px 20px;
    background: var(--secondary-color);
    color: white;
    border-radius: 20px;
    font-size: 12px;
}
.top-expand-section{
       width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-expand-section{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.left-column > div{
 background: #eaeaea;
    padding: 4px 10px;
    border-radius: 20px;
}
.right-bottom-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background);
    border: 2.5px solid white;
    cursor: pointer;
}



.right-bottom-content h1{
    color: var(--secondary-color);
    font-weight: 100;
    line-height: 20px;


}
.json-text{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 13px;

}
.sample-text{
    color: var(--secondary-color);
    font-size: 30px;
    border:none;
}

.right-bottom-content:hover{
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: all .3s ease-in-out;
}

/*-----------------------MODAL---------------------------------------------------------------*/

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 60%;
    transform: translate(-50%,-50%);
    background: var(--background);
    padding: 10px;
    z-index: 9999;
    box-shadow: var(--box-shadow-modal);
    border-radius: 20px;
    /*display: grid;*/
    /*grid-template-rows: 60px 1fr;*/

}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 23, 23, 0.7);
    z-index: 9998;
}

.row-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 15%;
}
.row-top h1{
    font-size: 20px;
    color: var(--secondary-color);
}

.row-top i{
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--secondary-color);
}
.row-bottom {

    display: flex;
    justify-content: space-between;
    align-items: center;
     width: 100%;
    height: 85%;
}
.row-bottom .bg{
    width: 60%;
    height: 100%;
    border-radius: 20px;
    background: url("img/Screenshot-sample-of-json.png");
    background-size: 100% 100%;
    object-fit: fill;
    background-repeat: no-repeat;
    box-shadow: var(--box-shadow-modal);
}



.modal-bottom-text{
    width: 40%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-bottom-text h1{
    border-radius: 20px;
    background: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}